# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
venv/
env/

# Archivos de configuración del editor
.vscode/
.idea/

# Resultados de la simulación (queremos mantener el repo limpio)
data/*
!data/.gitkeep

# Archivos de sistema
.DS_Store